{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--------forget password Section-------->
    <div class=" d-flex align-items-center justify-content-center">
        <div>
            <br>
            <br>
            <div class="login-form">
                <div class="login-form__header text-center mb-5">
                    <h3>بازیابی رمز</h3>
                </div>
                <form action="{% url 'account:reset-password' %}" method="POST">
                    {% csrf_token %}
                    <div class="login-input">
                        <div class="text-center">
                            <span class="text-danger" id="error" style="display: none">مشکلی رخ داده است</span>
                        </div>
                        <input name="password" type="text" id="phone" maxlength="11"
                               placeholder="رمز جدید..."
                               class="login-input__field rounded-12">
                        <input name="confirm_password" type="text" id="phone"
                               maxlength="11"
                               placeholder="تایید رمز..."
                               class="login-input__field rounded-12">
                        <input type="button" class="login-confirm__btn rounded-12" value="ارسال کد تایید"
                               onclick="submit()">
                    </div>
                </form>
            </div>
            <br>
            {% for message in messages %}
                <ul class="text-center">
                    <li class="text-danger">{{ message }}</li>
                </ul>
            {% endfor %}
            <div class="return-link text-center mt-4">
                <a href="" onclick="window.history.back(); return false;">بازگشت -></a>
            </div>
        </div>
    </div>
    <!--------forget password Section-------->
{% endblock %}